<app-navbar></app-navbar>

<div class="flex flex-col h-[calc(100vh-72px)] w-full">
  <div class="card p-4 mb-6 max-w-5xl m-4">
    <h1 class="text-5xl">Generate JSON</h1>
    <br /><br />
    <p class="text-lg">Exactly when you need to create JSON models for your translations 😉</p>
  </div>
  <div class="flex items-center justify-center w-full p-4">
    <app-step-one class="{{ hideStepOne ? 'hidden' : 'block' }}" [error]="error" [validJSON]="validJSON" (onSubmit)="onSubmit($event)"></app-step-one>
    <app-step-two
      class="{{ !hideStepOne || hideStepTwo ? 'hidden' : 'block' }} animate"
      [ngClass]="{ 'fadeOutLeft': hideStepTwo }"
      [validJSON]="validJSON"
      [parsedJSON]="parsedJson"
      (handleClick)="handleStep2Click()"
    ></app-step-two>
    <app-step-three
      class="{{ !hideStepTwo ? 'hidden' : 'block' }} animate"
      [newJson]="newJson"
    >
    </app-step-three>
  </div>
</div>
